@(title: String)(body: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>     
    	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/south-street/jquery-ui-1.7.2.custom.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    	<script src="@routes.Assets.at("javascripts/jquery.editinplace.packed.js")" type="text/javascript"></script>
    	<script src="@routes.Assets.at("javascripts/jquery-ui-1.7.2.custom.min.js")" type="text/javascript"></script>    	
    </head>
	<body>
	    <div id="playbook">
    		<header>
    			<img src="@routes.Assets.at("images/logo.png")" alt="logo" id="logo" />
    			<h1>PlayBook <span>by jpitou</span></h1>
    		</header>
    		<nav>
    			<a>Home</a>
    			<a>Ajouter</a>
    			<a>Supprimer</a>
    		</nav>
    		<section>
    		    @body
    		</section>
    		<footer>
    			<a href="http://www.w3.org/TR/html5/">HTML5</a> - 
    			<a href="http://www.w3.org/TR/css3-roadmap/">CSS3</a> - 
    			<a href="http://www.playframework.org/">Play Framework</a> 
    		</footer>
		</div>
	</body>
</html>